---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> new site who this </title>
<!-- the props -->
	<link rel="stylesheet" href="https://unpkg.com/open-props"/>
		<style> 
		body {
			background: var(--gradient-13);
			height: 100vh;
		}

		h1 {
			text-align: center;
			color: deeppink;
			animation: var(--animation-slide-in-up);
		}
		</style>
	</head>
	<body>
		<h1>lyn site go brr ✨</h1>
	</body>
</html>
